@{
    ViewBag.Title = "Azure Usage";
}

<style type="text/css">
    /*.clsInfo {
        font-style: italic;
        font-size: 14px;
        color: slategrey;
        margin-top: 10px;
        margin-bottom: 20px;
    }*/
</style>

<div id="wrapper">
    <div class="page-header well"><h2>Subscription Models</h2><h4></h4></div>
    <div class="page-container">


        <div class="page-data">


            <div class="data-table">
                <a class="a-inside edit btn btn-primary" href="/monthly">Monthy Subscription Model</a>
                <a class="a-inside edit btn btn-primary" href="/metered">Metered Subscription Model</a>

                <div class="clsInfo">
                    <br>
                    <br>
                    <h4>Monthy Subscription</h4>
                    With a MONTHLY subscription model, the customers pays a flat monthly fee and is allowed to make a pre-determined number of API calls per month. For example, a customer pays $100 to access up to 10,000 API calls per month. Whether they make 0 API calls or 10,000 API calls they are charged $100. If a customer subscribes in the middle of the month, they would be charged a pro-rated amount for the number of days their subscription was active that month.

                    <br>
                    <br>
                    <h4>Metered Subscription</h4>
                    With the Metered billing model you charge your customers a fee for each API call they make. Your customers are able to make as many calls as they want and are charged based on the total number of calls made. If the customer makes 7,000 API calls at $0.01 per call then the bill at the end of the month would be $70
                </div>

            </div>
        </div>

    </div>
    <div id="footer">

    </div>
</div>
@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@